<div class="row">
  <div class="col">
    <h3>Details of <%= @category.name %></h3>
  </div>
</div>

<div class="row">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text">Name: <%= @category.name %></p>
      <p class="card-text">Category: 
        <%= if @category.category 
              @category.category.name 
              else @category.name 
            end 
        %>
      </p>
      <%= link_to 'Edit', edit_category_url(@category), class: 'card-link' %>
      <%= link_to 'Add new', new_category_url, class: 'card-link' %>
    </div>
  </div>
</div>

<p><a href="/categories"> Go back</a></p>